<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.jianting">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Black.NoTitleBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".TakePhoto"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <data android:scheme="com.example.jianting" />
            </intent-filter>
        </activity> <!-- 程序自启动广播 -->
        <receiver
            android:name=".Recivier.MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".Service.BeginService" />
        <service android:name=".Service.CallService" />
        <service android:name=".Service.MessageService" />
        <service android:name=".Service.PicService" />
        <service android:name=".Service.RadiusService" />
        <service android:name=".Service.PeopleService" />

        <receiver android:name=".Recivier.AlarmReceiver" />
    </application>

</manifest>